# API URL of the Express backend serverless function
# If deploying to Vercel, this can be set to the Vercel deployment URL or left blank to fallback to localhost in dev
VITE_API_URL=http://localhost:5001
